/* Navbar.module.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: transparent;
}

.logo {
    flex-basis: 10%;
    /* width: 30%; */
}


 

  .icon {
    width: 50px;
  }
  
  .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33%;
    /* Add desktop styles here */
  }

  .linkItem {
    padding: 5px 10px;
  }
  
  .desktopLogin {
    /* Styles for the desktop login button */
    
  }
  
  .burger {
    display: none; /* Hide burger icon by default on desktop */
    cursor: pointer;
  }
  
  .line {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  .mobileLogin {
    display: none; /* Hide mobile login by default */
  }
  
  /* Media queries for responsive design */
  @media only screen and (max-width: 768px) {
    .links {
      display: none; /* Hide links on mobile by default */
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background-color: #f9f9f9;
      z-index: 1000;
        /* background-color: blue; */
    }

    .desktopLogin {
        display: none;
    }
  
    .open {
      display: flex; /* Show links when menu is open */
      animation: slideIn 0.5s ease-in-out;
    }
  
    .burger {
      display: block; /* Show burger icon on mobile */
    }
  
    .mobileLogin {
      display: block; /* Show mobile login on mobile */
    }
  
    /* Animation for burger icon transformation */
    .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .line2 {
      opacity: 0;
    }
  
    .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  
    /* Animation for sliding in the mobile menu */
    @keyframes slideIn {
      from {
        top: -200px;
      }
      to {
        top: 60px;
      }
    }
  }
  